<nav class="navbar navbar-expand-xl navbar-light bg-light py-4">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{ .Site.BaseURL }}">
      {{ partial "utilities/image.html" "images/logo3.png" }}
      <span class="fs-3 fw-semibold text-uppercase text-primary">{{ .Site.Title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-xl-0">
        {{ range .Site.Menus.main }}
          <li class="nav-item text-center">
            <a class="nav-link text-primary px-4" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
        {{ with .Site.Params.social }}
        <ul class="navbar-nav ms-xl-3 me-xl-3 mb-2 mb-xl-0 d-flex align-items-center">
            <ul class="d-flex list-unstyled m-0">
              {{ with .instagram }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" target="_blank" href="{{ . }}">{{ partial "icons/instagram.html" }}</a></li>{{ end }}
              {{ with .linkedin }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" target="_blank" href="{{ . }}">{{ partial "icons/linkedin.html" }}</a></li>{{ end }}
            </ul>
          </li>
        </ul>      
        {{ end }}
      <ul class="navbar-nav ms-xl-3 mb-2 mb-xl-0">
        {{ range .Site.Menus.buttons }}
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-light px-4" target="_blank" href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ00Tfpo9tKDGoptqz6VcktCI_mSUtO4RBR0gjh_PcwXEeKiasJnpUADR8YcnY3D3KN-mjWE-bvx?gv=true">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
